<app-dairynavbar></app-dairynavbar>

<!-- Graph -->

<!-- <div class="chart-container" style="position: relative; height:40vw; width:70vw">    
    <canvas id="canvas"></canvas>    
  </div>   -->
    <!-- <div style="text-align: center;">
        <div style="display: block" style="width: 70vw;">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"
                  style="width: 100px;">
          </canvas>
          <p style="text-align: center;">Report On</p>
        </div>
      </div> -->

    