<nav class="navbar navbar-expand-sm navbar-light" style="height: 55px; width: 100%;">
    <!-- Brand/logo -->
    <a class="navbar-brand">
        <img src="https://www.milma.com/theme/images/milmalogo2.jpg" alt="logo" style="width:60px;">
    </a>
    
    <!-- Links -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/socity">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/socity/sale">Milma Sales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/socity/sponsor">Milma Sponsor</a>
          </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="/socity/report">Report</a>
        </li>
      </ul>
      
      <ul class="navbar-nav mr-left">
        <li class="nav-item">
          <a class="nav-link" routerLink="/socity">{{username | uppercase}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigate()" routerLink="logout">Logout</a>
        </li>
      </ul>
    </div>
    
  </nav>
